{# src/ecommerce/AccueilBundle/Resources/views/Accueil/index.html.twig #}

{% extends "schoolHomeBundle::layout.html.twig" %}

{% block title %}
    Bienvenu sur {{ parent() }}
{% endblock %}

{% block active %}class="active"{% endblock %}

{% block home_content %}

    <div class="so-slider">
        <div class="container">
            <div id="so-slideshow" class="col-xs-12">
                <div class="module slideshow no-margin">
                    <div class="item">
                        <a href="#"><img src="{{ asset('img/slider-2-2-1170x433.jpg') }}" alt="slider1"
                                         class="img-responsive"/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="{{ asset('img/slider-2-1-1170x433.jpg') }}" alt="slider3"
                                         class="img-responsive"/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="{{ asset('img/slider-2-3-1170x433.jpg') }}" alt="slider2"
                                         class="img-responsive"/></a>
                    </div>
                </div>
            </div>
            <script type="text/javascript"><!--
                $('.slideshow').owlCarousel2({
                    loop: true,
                    margin: 0,
                    responsiveClass: true,
                    nav: true,
                    dots: true,
                    autoplay: true,
                    responsive: {
                        0: {
                            items: 1,
                        },
                        600: {
                            items: 1,
                        },
                        1000: {
                            items: 1,
                        }
                    }
                });
                --></script>

            <div class="module  banner-middle">
                <div class="modcontent clearfix">
                    <div class="static-home-2">
                        <ul>
                            <li class="col-s-1"><a title="Static Image" href="#">
                                    <img src="{{ asset('img/st-img-1-home-2.png') }}" alt="Static Image"></a> <a
                                        title="Static Image" href="#">
                                    <img src="{{ asset('img/st-img-2-home-2.png') }}" alt="Static Image"></a>
                            </li>
                            <li class="col-s-2"><a title="Static Image" href="#"><img
                                            src="{{ asset('img/st-img-3-home-2.png') }}" alt="Static Image"></a></li>
                            <li class="col-s-3"><a title="Static Image" href="#"><img
                                            src="{{ asset('img/st-img-4-home-2.png') }}" alt="Static Image"></a></li>
                            <li class="col-s-4"><a title="Static Image" href="#"><img
                                            src="{{ asset('img/st-img-5-home-2.png') }}" alt="Static Image"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="content" class="col-md-12 col-sm-12 col-xs-12">

                <script>
                    //<![CDATA[
                    var listdeal1 = [];
                    //]]>
                </script>


                <div id="so_category_slider_130" class="container-slider module   item-1 ">
                    <div class="page-top">
                        <h3 class="modtitle">
                            <span> Actualité à la Une</span>
                        </h3>
                        <div class="item-sub-cat">
                        </div>
                    </div>

                    <div class="categoryslider-content products-list grid show preset01-4 preset02-3 preset03-2 preset04-2 preset05-1">

                        <div class="slider so-category-slider not-js product-layout" data-effect="none">
                            <div class="item ">
                                <div class="item-inner product-item-container transition">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding: 5px">
                                                <div class="so-block">
                                                    <a href="#" target="_blank">
                                                        <img src="{{ asset('img/5-230x150.jpg') }}"
                                                             alt="Donec tellus Nulla lorem Nullam elit id ut"
                                                             class="media-object">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading head-item">
                                                        <a href="#" title="Donec tellus Nulla lorem Nullam elit id ut"
                                                           target="_blank">Donec
                                                            tellus Nulla lorem Nullam elit id ut</a>
                                                    </h4>
                                                    <div class="media-content so-block">
                                                        <div class="description">
                                                            Commodo laoreet semper tincidunt lorem Vestibulum nunc at In
                                                            Curabitur
                                                            magna. Euismod euismod Suspen.....
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding: 5px">
                                                <div class="so-block">
                                                    <a href="#" target="_blank">
                                                        <img src="{{ asset('img/6-230x150.jpg') }}"
                                                             alt="Commodo laoreet semper tincidunt lorem "
                                                             class="media-object">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading head-item">
                                                        <a href="#" title="Commodo laoreet semper tincidunt lorem "
                                                           target="_blank">Commodo
                                                            laoreet semper tincidunt lorem </a>
                                                    </h4>
                                                    <div class="media-content so-block">
                                                        <div class="description">
                                                            Commodo laoreet semper tincidunt lorem Vestibulum nunc at In
                                                            Curabitur
                                                            magna. Euismod euismod Suspen.....
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding: 5px">
                                                <div class="so-block">
                                                    <a href="#" target="_blank">
                                                        <img src="{{ asset('img/1-230x150.jpg') }}"
                                                             alt="Ac tincidunt Suspendisse malesuada"
                                                             class="media-object">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading head-item">
                                                        <a href="#" title="Ac tincidunt Suspendisse malesuada"
                                                           target="_blank">Ac
                                                            tincidunt Suspendisse malesuada</a>
                                                    </h4>
                                                    <div class="media-content so-block">
                                                        <div class="description">

                                                            Commodo laoreet semper tincidunt lorem Vestibulum nunc at In
                                                            Curabitur magna. Euismod euismod Su.....
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding: 5px">
                                                <div class="so-block">
                                                    <a href="#" target="_blank">
                                                        <img src="{{ asset('img/2-230x150.jpg') }}"
                                                             alt="Nure caten raverunt lector legere"
                                                             class="media-object">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading head-item">
                                                        <a href="#" title="Nure caten raverunt lector legere"
                                                           target="_blank">Nure caten
                                                            raverunt lector legere</a>
                                                    </h4>
                                                    <div class="media-content so-block">
                                                        <div class="description">
                                                            Neque
                                                            porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                                            consectetur,
                                                            adipisci velit, se.....
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="so_category_slider_130" class="container-slider module   item-1 ">
                    <div class="page-top">
                        <h3 class="modtitle">
                            <span> Notre école</span>
                        </h3>
                        <div class="item-sub-cat">
                        </div>
                    </div>

                    <div class="categoryslider-content products-list grid show preset01-4 preset02-3 preset03-2 preset04-2 preset05-1">

                        <div class="slider so-category-slider not-js product-layout" data-effect="none">
                            <div class="item ">
                                <div class="item-inner product-item-container transition">

                                    <div class="row">
                                        <div class="col-md-12">
                                            {#Source http://www.univ-lorraine.fr/#}
                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding: 5px">
                                                <a href="#"><h4>Découvrir l'École</h4></a>
                                                <ul class="fa-ul">
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Structure et organisation</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">UFR, facultés, écoles, instituts</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Grands projets</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Développement durable</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Suivez-nous sur les réseaux sociaux</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding: 5px">
                                                <a href="#"><h4>Étudier à l'École</h4></a>
                                                <ul class="fa-ul">
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Offre de formation</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Études et sport de haut niveau</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Études et sport de haut niveau</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Orientation et insertion professionnelle</a>
                                                    </li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Formation continue</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding: 5px">
                                                <a href="#"><h4>Recherche & Innovation</h4></a>
                                                <ul class="fa-ul">
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Présentation de la recherche</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Laboratoires de recherche</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Doctorat</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Habilitation à diriger des recherches</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Valorisation et innovation</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding: 5px">
                                                <a href="#"><h4>Vie des campus</h4></a>
                                                <ul class="fa-ul">
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Bibliothèques universitaires</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Maisons des étudiants</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Sport</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Santé et social</a></li>
                                                    <li><i class="fa-li fa fa-check-square" aria-hidden="true"></i><a
                                                                href="#">Subventions</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="module so-deals">
                    <h3 class="modtitle"><span>Évènements</span></h3>
                    <div id="so_deals_10833087811462869885"
                         class="so-deal modcontent products-list grid clearfix preset00-4 preset01-3 preset02-2 preset03-2 preset04-1 button-type1 style2">
                        <div class="extraslider-inner product-layout owl2-carousel owl2-theme owl2-loaded">

                            <!-- End right block -->


                            <!-- End right block -->


                            <!-- End right block -->


                            <!-- End right block -->

                            <div class="owl2-stage-outer">
                                <div class="owl2-stage">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="owl2-item cloned col-md-3 col-sm-6 col-xs-12">
                                                <div class="product-thumb transition product-item-container">
                                                    <div class="left-block">
                                                        <div class="product-image-container">
                                                            <div class="image">

                                                                <span class="label label-sale">Remise de trophe aux eleves</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="right-block">
                                                        <div class="caption">
                                                            <div class="item-time">
                                                                <div class="item-timer product_time_57">
                                                                    <div class="time-item time-day">
                                                                        <div class="num-time">10</div>
                                                                        <div class="name-time">Jour</div>
                                                                    </div>
                                                                    <div class="time-item time-hour">
                                                                        <div class="num-time">SEPT</div>
                                                                        <div class="name-time">Mois</div>
                                                                    </div>
                                                                    <div class="time-item time-min">
                                                                        <div class="num-time">2016</div>
                                                                        <div class="name-time">Année</div>
                                                                    </div>
                                                                    <div class="time-item time-sec">
                                                                        <div class="num-time">13H00</div>
                                                                        <div class="name-time">Heure</div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <br>
                                                            <hr>

                                                            <h5>
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Auditoire G2 Informatique
                                                            </h5>


                                                            <p>
                                                                Appel à communications pour le colloque international
                                                                "Migrations et frontières au XXIe siècle. Vers la fin
                                                                des cultures et des identités nationales ?"
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl2-item cloned col-md-3 col-sm-6 col-xs-12">
                                                <div class="product-thumb transition product-item-container">
                                                    <div class="left-block">
                                                        <div class="product-image-container">
                                                            <div class="image">

                                                                <span class="label label-sale">Remise de trophe aux eleves</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="right-block">
                                                        <div class="caption">
                                                            <div class="item-time">
                                                                <div class="item-timer product_time_57">
                                                                    <div class="time-item time-day">
                                                                        <div class="num-time">10</div>
                                                                        <div class="name-time">Jour</div>
                                                                    </div>
                                                                    <div class="time-item time-hour">
                                                                        <div class="num-time">SEPT</div>
                                                                        <div class="name-time">Mois</div>
                                                                    </div>
                                                                    <div class="time-item time-min">
                                                                        <div class="num-time">2016</div>
                                                                        <div class="name-time">Année</div>
                                                                    </div>
                                                                    <div class="time-item time-sec">
                                                                        <div class="num-time">13H00</div>
                                                                        <div class="name-time">Heure</div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <br>
                                                            <hr>

                                                            <h5>
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Auditoire G2 Informatique
                                                            </h5>


                                                            <p>
                                                                Appel à communications pour le colloque international
                                                                "Migrations et frontières au XXIe siècle. Vers la fin
                                                                des cultures et des identités nationales ?"
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl2-item cloned col-md-3 col-sm-6 col-xs-12">
                                                <div class="product-thumb transition product-item-container">
                                                    <div class="left-block">
                                                        <div class="product-image-container">
                                                            <div class="image">

                                                                <span class="label label-sale">Remise de trophe aux eleves</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="right-block">
                                                        <div class="caption">
                                                            <div class="item-time">
                                                                <div class="item-timer product_time_57">
                                                                    <div class="time-item time-day">
                                                                        <div class="num-time">10</div>
                                                                        <div class="name-time">Jour</div>
                                                                    </div>
                                                                    <div class="time-item time-hour">
                                                                        <div class="num-time">SEPT</div>
                                                                        <div class="name-time">Mois</div>
                                                                    </div>
                                                                    <div class="time-item time-min">
                                                                        <div class="num-time">2016</div>
                                                                        <div class="name-time">Année</div>
                                                                    </div>
                                                                    <div class="time-item time-sec">
                                                                        <div class="num-time">13H00</div>
                                                                        <div class="name-time">Heure</div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <br>
                                                            <hr>

                                                            <h5>
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Auditoire G2 Informatique
                                                            </h5>


                                                            <p>
                                                                Appel à communications pour le colloque international
                                                                "Migrations et frontières au XXIe siècle. Vers la fin
                                                                des cultures et des identités nationales ?"
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl2-item cloned col-md-3 col-sm-6 col-xs-12">
                                                <div class="product-thumb transition product-item-container">
                                                    <div class="left-block">
                                                        <div class="product-image-container">
                                                            <div class="image">

                                                                <span class="label label-sale">Remise de trophe aux eleves</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="right-block">
                                                        <div class="caption">
                                                            <div class="item-time">
                                                                <div class="item-timer product_time_57">
                                                                    <div class="time-item time-day">
                                                                        <div class="num-time">10</div>
                                                                        <div class="name-time">Jour</div>
                                                                    </div>
                                                                    <div class="time-item time-hour">
                                                                        <div class="num-time">SEPT</div>
                                                                        <div class="name-time">Mois</div>
                                                                    </div>
                                                                    <div class="time-item time-min">
                                                                        <div class="num-time">2016</div>
                                                                        <div class="name-time">Année</div>
                                                                    </div>
                                                                    <div class="time-item time-sec">
                                                                        <div class="num-time">13H00</div>
                                                                        <div class="name-time">Heure</div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <br>
                                                            <hr>

                                                            <h5>
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Auditoire G2 Informatique
                                                            </h5>


                                                            <p>
                                                                Appel à communications pour le colloque international
                                                                "Migrations et frontières au XXIe siècle. Vers la fin
                                                                des cultures et des identités nationales ?"
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="so-spotlight1">
        <div class="container">
            <div class="row">

                <div class="module ">
                    <div class="modcontent clearfix">
                        <ul class="list-services">
                            <li class="item-service col-lg-4 col-md-4 col-sm-4 col-xs-12"><a title="Free Shipping"
                                                                                             href="#"><img
                                            src="{{ asset('img/free-shipping.png') }}"
                                            alt="Free Shipping"></a></li>
                            <li class="item-service col-lg-4 col-md-4 col-sm-4 col-xs-12"><a title="Guaranteed"
                                                                                             href="#"><img
                                            src="{{ asset('img/guaranteed.png') }}"
                                            alt="Guaranteed"></a></li>
                            <li class="item-service col-lg-4 col-md-4 col-sm-4 col-xs-12"><a title="Deal" href="#"><img
                                            src="{{ asset('img/deal.png') }}"
                                            alt="Deal"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}